.culture {
  cursor: pointer;
  height: 220px;
  position: relative;
  margin: 28px 0;
  width: 220px;
  transition: all 0.2s ease-in-out;
}

.culture img {
  border-radius: 14px;
  height: 100%;
  width: 100%;
}

.culture p {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.culture:hover {
  transform: scale(1.02);
}
